
/* Typography */

* {
    font-family: "Roboto Serif", serif;
}


h1 {
    
    font-size: calc(1.5rem + 2vw);
    font-style: normal;
    font-weight: 600;
    text-align: center;
}


h2 {
    font-size: calc(1.25rem + 1.5vw);
    font-style: normal;
    font-weight: 500;
}


p { font-size: 0.8rem;
}


input, label {
    font-size: calc(1rem + 0.5vw);
    font-style: normal;
    font-weight: 400;
    text-align: left;
}


/* Elements style */
.wrapper {
    display: grid;
    justify-items: center;
    justify-content: center;
    grid-template-rows: 0.2fr 1fr 0.5fr;
    
}


main {
    display: grid;
    gap:1rem;
}


.card {
    text-align: center;
    border: 1px solid black;
    padding: 1rem 2rem;
   
}


footer {
    text-align: center;
    margin-top: 2rem;
}


a {
    text-decoration: none;
}


.temperature, label {
    margin-bottom: 1rem;
}


label {
    display: inline-block;
    width:9rem;
}


input {
    width: 12rem;
}


.first-form {
    margin-bottom: 0;
}


.second-form {
    margin-top: 1.5rem;
}

/* media query */
@media (min-width:1024px) {
    main {
        grid-template-columns: repeat(2, 1fr);
    }
}


